<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">

        <title><%= title %></title>
        <button type="button" id="myButton" onClick="$('#default').click()"style="float:left;margin-left:20px;">VALIDATE AND IMPORT</button>
        <style>
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            
            }
            th, td {
            padding: 10px;
            background-color: #E6E6FA;
            }
            .even {
            background: url(https://www.datatables.net/examples/resources/details_open.png) no-repeat right;
            cursor: pointer;
            width: 30px;
            transition: .5s;
        }
            .odd {
            background: url(https://www.datatables.net/examples/resources/details_open.png) no-repeat right;
            cursor: pointer;
            width: 30px;
            transition: .5s;
        }
            tr.shown td{
            background: url(https://www.datatables.net/examples/resources/details_close.png) no-repeat right;
            width: 30px;
            transition: .5s;
        }
                     
        </style>
        
    </head>
    <body>
        <div class="container">
            <h1 class="text-center text-primary mt-3 mb-3">Stations</h1>

            <div class="card">
                <div class="card-header">Station data</div>
                <div class="card-body">
                    <div class="table-responsive">
                        
                        <table id="station_data" class="table table-bordered">
                            <thead>
                                <tr>
                                   
                                    <th>STATION</th>
                                    
                                </tr>
                            </thead>
                              
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
       
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
  </body>
</html>

<script>
$('#myButton').click(function(){
    alert("Importing and validating data.Please wait...")
    $.ajax({
     type:'get',
     url:'../import/mainstations.py',
     
     success: function(data) {
    
        },
    
     error: function(request, status, error) {
       
     }
     
  });
  setTimeout(function(){
   window.location.reload(1);
}, 60000);
});


function test(data) {
  if  (data.ADDRESS==null) {
    data.ADDRESS="not available"
   }else if (data.JOURNEYS_STARTED==null){
    data.JOURNEYS_STARTED="not available"
   }else if (data.JOURNEYS_ENDED==null){
    data.JOURNEYS_ENDED="not available"
   }  else if (data.AVG_STARTING_JOURNEY_DIST==null){
    data.AVG_STARTING_JOURNEY_DIST="not available"
   }  else if (data.AVG_ENDING_JOURNEY_DIST==null){
    data.AVG_ENDING_JOURNEY_DIST="not available"
   }      
}
    

function format(data) 
{
    test(data)
// `data` is the data object for the row
return '<table cellpadding="5" cellspacing="0"'
    + ' style="padding-left:50px;">' +
    '<tr>' +
    '<td ><b>STATION ADDRESS: </b></td>' +
    '<td>' + data.ADDRESS + '</td>' +
    '</tr>' +
    '<tr>' +
    '<td><b>JOURNEYS STARTED HERE: </b></td>' +
    '<td>' + data.JOURNEYS_STARTED + '</td>' +
    '</tr>' +
    '<tr>' +
    '<td><b>JOURNEYS ENDED HERE: </b></td>' +
    '<td>' + data.JOURNEYS_ENDED + '</td>' +
    '</tr>'+
    '<td><b>AVG DISTANCE(starting): </b></td>' +
    '<td>' + data.AVG_STARTING_JOURNEY_DIST + '</td>' +
    '</tr>'+
    '<td><b>AVG DISTANCE(ending): </b></td>' +
    '<td>' + data.AVG_ENDING_JOURNEY_DIST + '</td>' +
    '</tr>'+
    '</table>';
}



$(document).ready(function(){

var dataTable = $('#station_data').DataTable(
    {
    'processing' : true,
    'serverSide' : true,
    'serverMethod' : 'get',
    'ajax' : {
        'url' : '/get_data',
        
    },
    'aaSorting' : [],
    'columns' : [
        { data : 'STATION' }
         
    ]
});
$('#station_data tbody').on('click', 'tr', function () {
        var data = dataTable.row(this).data();
        
       
        var tr = $(this).closest('tr');
        var row = dataTable.row(tr);
        if (row.child.isShown()) {
            
            row.child.hide();
            tr.removeClass('shown');
        }else {
      row.child( format(data)).show();
      tr.addClass('shown');
      }
    });
    
        
    });

</script>